<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit a color</title>
</head>
<body>
<h2>Add your favorite color to our database:</h2>

<form action="/thanks4submit" method="post">
    <label for="cname">Color name:</label><br>
    <input type="text" id="cname" name="cname" value="Rainbow"><br>
    <label for="uname">Your name:</label><br>
    <input type="text" id="uname" name="uname" value="jingwei.wei"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>